@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');

:root {
  --page-background-color: #000000;
  --title-color: #ffffff;
  --main-color: gold;
  --input-background-color: #c1c1c2;
  --input-text-color: #4c4c4d;
  --list-item-text-color: #ffffff;
  --title-font: 'Montserrat', sans-serif;
  --form-font: 'Montserrat', sans-serif;
  --list-font: Calibri, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--page-background-color);
}

input[type="number"] {
  -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

input {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  box-sizing: border-box;
  outline: none;
  border: none;
}

input:active, input:focus {
  outline: none;
}

input::-moz-focus-inner {
  border: 0;
}